@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

.carbrowsing {
  font-family: var(--font-roboto);
  background-color: #212426;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
}

.carbrowsing h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: transparent;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.carbrowsing .search-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1f2123;
  padding: 12px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carbrowsing .car button {
  position: absolute;
  bottom: 10px; 
  left: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #04AA6D; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carbrowsing .search-container, .carbrowsing .filters {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  gap: 10px; /* Adjust gap as necessary */
}

.carbrowsing .search-input {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.carbrowsing .car button:hover {
  background-color: #037d56; 
}

.carbrowsing .search-input input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 8px 15px;
  font-size: 16px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
}

.carbrowsing .search-input img {
  margin-left: 10px;
  cursor: pointer;
}

.carbrowsing .search-container select {
  flex-grow: 1;
  padding: 8px 15px;
  background-color: #2a2d30; /* Dark background to match the theme */
  color: #a1a1a1; /* Lighter text for contrast */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  margin-left: 10px; /* Space it out from the input */
  cursor: pointer; /* Cursor changes to pointer to indicate it's selectable */
  font-family: var(--font-raleway); /* Consistent font */
}

.carbrowsing .search-container select:focus {
  outline: none; /* Remove focus outline for cleaner look */
}

.carbrowsing .search-container select option {
  background-color: #343739; /* Dark background for options */
  color: white; /* Ensure text is easily readable */
}

.carbrowsing .dropdown-select, .carbrowsing .filter-input {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: #2a2d30;
  color: #a1a1a1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carbrowsing .filter-input {
  width: auto; /* Adjust as necessary */
}


.carbrowsing .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #f9d3b4;
}

.carbrowsing .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.carbrowsing .car {
  position: relative;
  width: 300px;
  padding-bottom: 45px;
  max-width: 400px;
  background: #343739;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carbrowsing .car:hover {
  transform: scale(1.05);
}

.carbrowsing .car img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}

.carbrowsing .car div {
  padding: 15px;
  color: #ffffff;
}

.carbrowsing .car h3, .carbrowsing .car p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .carbrowsing {
    padding: 2rem;
  }

  .carbrowsing .search {
    padding: 10px;
  }

  .carbrowsing .search input {
    font-size: 14px;
  }

  .carbrowsing .car {
    width: 90%;
  }
}
