.confirmation-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}


span.date-box {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}